<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--Servidor de desarrollo base de datos ICBA_Cirugia_Test-->
    <!--<add name="ICBA.Properties.Settings.conStr"
        connectionString="Data Source=192.168.100.109;Initial Catalog=&quot;ICBA_Cirugia_Test&quot;;User ID=cirugia;Password=cirugia"
        providerName="System.Data.SqlClient" />-->

       <!--Servidor de desarrollo base de datos ICBA Cirugia 2003-->
        <add name="ICBA.Properties.Settings.conStr"
        connectionString="Data Source=192.168.100.3;Initial Catalog=&quot;ICBA Cirugia 2003&quot;;User ID=cirugia;Password=cirugia"
        providerName="System.Data.SqlClient" />  
    
        <!--Servidor de Produccion base de datos ICBA Cirugia 2003-->
        <!--<add name="ICBA.Properties.Settings.conStr" connectionString="Data Source=192.168.100.3;Initial Catalog=ICBA Cirugia 2003;;User ID=cirugia;Password=cirugia" />-->

    
    <add name="AccesosJefaMed.Properties.Settings.ConnStrJefamed"
          connectionString="Data Source=192.168.100.3;Initial Catalog=Jefamed;User ID=cirugia;Password=cirugia"
          providerName="System.Data.SqlClient" />

    <add name="ICBA.Properties.Settings.conStrCiencia" connectionString="Data Source=192.168.100.3;Initial Catalog=ICBA_Cirugia_Ciencia;User ID=cirugia;Password=cirugia" />


    <!--<add name="ICBA.Properties.Settings.conStrCiencia" connectionString="Data Source=192.168.100.109;Initial Catalog=ICBA_Cirugia_Test;User ID=cirugia;Password=cirugia" />-->
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>